Repository tnRaro/coops: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Make dropdown background color to black
  services/web/src/app/components/coops/DropdownMenu.ts
Due: eslint --fix, prettier --write

Implemet participant's volume control
  services/web/src/app/components/coops/cards/ParticipantListCard.tsx
Due: eslint --fix, prettier --write

Add settings card
  services/web/src/app/components/coops/RoomPhase.tsx
  services/web/src/app/components/coops/cards/SettingsCard.tsx
Due: eslint --fix, prettier --write

Remove unused import
  services/logic/src/room/removeRoom.ts
Due: eslint --fix, prettier --write

Add room reset button
  services/web/src/app/queries/rooms.ts
  services/web/src/pages/rooms/[roomId].tsx
Due: eslint --fix, prettier --write

Add SSL
  docker/coops-dev/docker-compose.yml
  templates/default.conf.template
Due: none

Add small resolution support
  services/web/src/app/components/coops/RoomPhase.tsx
  services/web/src/app/components/core/Card.tsx
  services/web/src/app/components/core/Container.tsx
  services/web/src/app/components/primitives/Input.ts
  services/web/src/app/stitches.config.ts
Due: eslint --fix, prettier --write

Add room description to login phase
  services/web/src/app/components/coops/LoginPhase.tsx
Due: eslint --fix, prettier --write

Add enter & exit message to chat
  services/web/src/app/atoms.ts
  services/web/src/app/components/coops/cards/ChatListCard.tsx
  services/web/src/pages/rooms/[roomId].tsx
Due: eslint --fix, prettier --write

Make default audio state to true
  services/logic/src/participant/enterParticipant.ts
Due: eslint --fix, prettier --write

Make peer reset
  services/web/src/app/hooks/useResetRoom.ts
Due: eslint --fix, prettier --write

Remove unused code
  services/web/src/app/utils/PeerClient.ts
  services/web/src/pages/peer-test.tsx
  services/web/src/pages/scenario-test.tsx
  services/web/src/pages/sse-test.tsx
Due: eslint --fix, prettier --write

Fix type error
  services/web/src/app/components/coops/cards/ParticipantListCard.tsx
Due: eslint --fix, prettier --write

Remove unused codes
  services/web/src/app/components/primitives/Option.tsx
  services/web/src/app/utils/errorToastOptions.ts
Due: eslint --fix, prettier --write

Fix typo
  services/web/src/app/components/coops/cards/SettingsCard.tsx
Due: eslint --fix, prettier --write

Fix room reset
  services/web/src/app/components/coops/cards/SettingsCard.tsx
Due: eslint --fix, prettier --write

Use production mode
  .vscode/tasks.json
  docker-compose.yml
  docker/coops-dev/docker-compose.yml
  init-letsencrypt.sh
Due: prettier --write

Make disable certbot
  docker-compose.yml
Due: none

Correct import
  services/web/src/app/components/coops/cards/ChatListCard.tsx
Due: eslint --fix, prettier --write

Remove unused code
  Dockerfile
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,js,json}
