Repository tnRaro/coops: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Set up APIs
  services/web/src/app/errors/CoopsError.ts
  services/web/src/app/errors/HttpError.ts
  services/web/src/app/utils/apiRouter.ts
  services/web/src/pages/api/room/title/[title].ts
  services/web/src/pages/api/rooms/[id]/chat.ts
  services/web/src/pages/api/rooms/[id]/host/[nickname].ts
  services/web/src/pages/api/rooms/[id]/index.ts
  services/web/src/pages/api/rooms/[id]/participants/[nickname]/index.ts
  services/web/src/pages/api/rooms/[id]/participants/[nickname]/microphone.ts
  services/web/src/pages/api/rooms/[id]/participants/[nickname]/speaker.ts
  services/web/src/pages/api/rooms/[id]/settings.ts
Due: eslint --fix, prettier --write

Update next to 10.2.0
  services/web/next.config.js
  services/web/package.json
  yarn.lock
Due: prettier --write

Fix #7
  services/web/src/app/utils/apiRouter.ts
Due: eslint --fix, prettier --write

Use jest
  babel.config.js
  jest.config.js
  package.json
  yarn.lock
Due: prettier --write

Use peerjs-server in docker-compose.yml
  docker/coops-dev/docker-compose.yml
  services/web/package.json
  yarn.lock
Due: prettier --write

Make strict mode true
  services/web/tsconfig.json
Due: prettier --write

Close #11
  services/web/src/pages/_app.tsx
  services/web/src/pages/_document.tsx
Due: eslint --fix, prettier --write

Add text styles and layer styles
  services/web/src/pages/_app.tsx
Due: eslint --fix, prettier --write

Add missing box shadow for pop-out in layer styles
  services/web/src/pages/_app.tsx
Due: eslint --fix, prettier --write

Use Redis
  .prettierignore
  docker/coops-dev/docker-compose.yml
  services/web/package.json
  yarn.lock
Due: prettier --write

Improve apiRouter and errors
  services/web/src/app/errors/HttpError.ts
  services/web/src/app/utils/HttpResult.ts
  services/web/src/app/utils/apiRouter.ts
Due: eslint --fix, prettier --write

Update package.json
  services/web/package.json
  yarn.lock
Due: prettier --write

Add errors
  services/web/src/app/errors/ModelError.ts
  services/web/src/auth/errors/UnauthorizedError.ts
Due: eslint --fix, prettier --write

Add Redis models
  services/web/src/redis/models/participants.ts
  services/web/src/redis/models/rooms.ts
  services/web/src/redis/utils/getRedisClient.ts
  services/web/src/redis/utils/inviteCodeGenerator.ts
Due: eslint --fix, prettier --write

Move /api/rooms/[id] to /api/rooms/[roomId]
  services/web/src/pages/api/rooms/[id]/index.ts
  services/web/src/pages/api/rooms/[roomId]/chat.ts
  services/web/src/pages/api/rooms/[roomId]/host/[nickname].ts
  services/web/src/pages/api/rooms/[roomId]/index.test.ts
  services/web/src/pages/api/rooms/[roomId]/participants/[nickname]/index.ts
  services/web/src/pages/api/rooms/[roomId]/participants/[nickname]/microphone.ts
  services/web/src/pages/api/rooms/[roomId]/participants/[nickname]/speaker.ts
  services/web/src/pages/api/rooms/[roomId]/settings.ts
Due: eslint --fix, prettier --write

Implement POST /api/room/title/[title]
  services/web/src/pages/api/room/title/[title].ts
Due: eslint --fix, prettier --write

Implement GET PUT /api/rooms/[roomId]
  services/web/src/pages/api/rooms/[roomId]/index.ts
Due: eslint --fix, prettier --write

Implement POST /api/rooms/[roomId]/participants/[nickname]
  services/web/src/pages/api/rooms/[roomId]/participants/[nickname]/index.ts
Due: eslint --fix, prettier --write

.
  services/web/src/pages/api/rooms/[roomId]/index.ts
  services/web/src/redis/models/participants.ts
  services/web/src/redis/models/rooms.ts
  tools/test-script.js
Due: eslint --fix, prettier --write

Make handle UnauthorizedError
  services/web/src/app/utils/apiRouter.ts
  services/web/src/auth/errors/UnauthorizedError.ts
Due: eslint --fix, prettier --write

.
  services/web/src/pages/api/rooms/[roomId]/index.test.ts
  tools/test-script.js
Due: eslint --fix, prettier --write

Close #12
  services/web/src/pages/_app.tsx
  services/web/src/pages/index.tsx
Due: eslint --fix, prettier --write

Fix wrong import
  services/web/src/pages/_boilerplate.tsx
Due: eslint --fix, prettier --write

Improve responsiveness and apply requested changes
  services/web/src/pages/_app.tsx
  services/web/src/pages/index.tsx
Due: eslint --fix, prettier --write

Move Dockerfile to root
  Dockerfile
  docker/coops-dev/docker-compose.yml
Due: none

Add SSE
  Dockerfile
  docker/coops-dev/docker-compose.yml
  package.json
  services/sse/package.json
  services/sse/src/index.ts
  services/web/src/pages/sse-test.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Implement chatting at logic
  services/logic/src/chat/appendChat.ts
  services/logic/src/chat/findAllChats.ts
  services/logic/src/chat/index.ts
  services/logic/src/chat/types.ts
  services/logic/src/index.ts
Due: eslint --fix, prettier --write

Implement chatting at redis
  services/redis/src/chat/CRUD.ts
  services/redis/src/chat/index.ts
  services/redis/src/chat/keys.ts
  services/redis/src/index.ts
  services/redis/src/pubsub/index.ts
  services/redis/src/pubsub/keys.ts
  services/redis/src/pubsub/pub.ts
  services/redis/src/pubsub/sub.ts
Due: eslint --fix, prettier --write

Add redis sub at sse
  services/sse/src/index.ts
Due: eslint --fix, prettier --write

Implement chat API at web
  services/web/src/pages/api/rooms/[roomId]/chat.ts
Due: eslint --fix, prettier --write

Add composite option to increase docker build performance
  tsconfig.json
Due: prettier --write

.
  services/web/src/pages/sse-test.tsx
Due: eslint --fix, prettier --write

Fix #19
  services/web/src/app/utils/auth.ts
  services/web/src/pages/api/rooms/[roomId]/index.ts
Due: eslint --fix, prettier --write

Add chats
  services/web/src/pages/api/rooms/[roomId]/index.ts
Due: eslint --fix, prettier --write

Add consts
  services/core/src/consts.ts
  services/core/src/index.ts
Due: eslint --fix, prettier --write

Use consts
  services/logic/src/participant/enterParticipant.ts
  services/logic/src/room/createRoom.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,js,json}
